allow sdcardd unlabeled:filesystem getattr;
allow sdcardd unlabeled:file getattr;
allow sdcardd unlabeled:dir getattr;
allow sdcardd unlabeled:dir add_name;
#allow sdcardd unlabeled:dir create;
allow sdcardd unlabeled:dir rename;
#allow sdcardd unlabeled:file create;
allow sdcardd unlabeled:file rename;
#
allow sdcardd unlabeled:dir open;
allow sdcardd unlabeled:dir read;
allow sdcardd unlabeled:dir remove_name;
allow sdcardd unlabeled:dir rmdir;
allow sdcardd unlabeled:dir search;
allow sdcardd unlabeled:dir write;
allow sdcardd unlabeled:file open;
allow sdcardd unlabeled:file read;
allow sdcardd unlabeled:file write;
